/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Shared styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
}
.row {
  max-width: 1280px;
  margin: 0 auto;
}

/* header styles */
#nav-wrapper {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 30px 0;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  margin: 8px 10px 0 0;
}
.logo h4 {
  font-size: 3em;
  font-weight: 700;
  color: #0b0223;
}
.logo h4 span {
  color: #ff42a5;
}
.menu ul {
  display: flex;
  align-items: center;
}
.menu ul li {
  font-size: 1.3em;
  list-style: none;
  margin-left: 32px;
  color: #3c354f;
}
.menu ul li a {
  text-decoration: none;
  color: #3c354f;
}

.follow-us {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px;
}
.follow-us img {
  margin-left: 8px;
  margin-top: 5px;
}

/* banner styles */
#banner-wrapper {
  background-image: url("./images/banner-background.png");
  background-size: 50% 100%;
  background-position: left;
  background-repeat: no-repeat;
  padding-top: 30px;
}
#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-details {
  width: 55%;
  box-sizing: border-box;
}
.banner-details h2 {
  font-size: 3em;
  font-weight: 600;
  color: #0b0223;
}
.banner-details h1 {
  font-size: 6em;
  font-weight: 800;
  padding: 15px 0;
  margin-bottom: 10px;
}
.gradient-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.banner-details p {
  font-size: 1.3em;
  font-weight: 500;
  color: #534c64;
  padding-bottom: 15px;
}
.btn {
  margin-top: 35px;
  border: none;
  color: #fff;
  padding: 20px 40px;
  border-radius: 48px;
  font-size: 1.3em;
  cursor: pointer;
}
.pink-button {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  margin-right: 20px;
}
.blue-button {
  background: #4ec5f7;
}
.banner-images {
  width: 45%;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
}
.banner-images img {
  max-width: 100%;
}

/* responsive styles */
@media only screen and (max-width: 568px) {
  nav,
  .menu ul {
    flex-direction: column;
  }
  .menu ul li {
    padding-top: 20px;
    margin-left: 0;
  }
  .follow-us {
    margin-top: 20px;
  }
  /* banner styles */
  #banner-wrapper {
    background-color: #fff;
    background-image: none;
  }
  #banner {
    flex-direction: column;
  }
  .banner-details {
    width: 100%;
    background-image: url("./images/banner-background.png");
    background-size: 100% 100%;
    background-position: center 0px;
    background-repeat: no-repeat;
    order: 2;
    padding: 50px 30px 50px 30px;
  }
  .banner-details p,
  .btn {
    font-size: 1em;
  }
  .pink-button {
    margin-right: 5px;
  }
  .banner-images {
    width: 100%;
    order: 1;
    padding: 0;
  }
}
